<div id="tabs-container">
    <div class="tabs tabs-box mb-4" id="tabs">
      <a
        class="tab {% if status != '已完结' %}tab-active{% endif %}"
        hx-get="/?status=进行中"
        hx-target="#tabs-container"
        hx-swap="innerHTML"
        hx-push-url="true"
        >进行中</a
      >
      <a
        class="tab {% if status == '已完结' %}tab-active{% endif %}"
        hx-get="/?status=已完结"
        hx-target="#tabs-container"
        hx-swap="innerHTML"
        hx-push-url="true"
        >已完结</a
      >
    </div>
    <div id="book-list">{% include "partials/book_list.html" %}</div>
  </div>